<!DOCTYPE html>
<html lang="it">

  <head>
    <meta charset="utf-8">
    <meta name="author"
          content="Gianni Di Noia">
    <meta name="description"
          content="{{ app }} · {{ title }}">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
          content="687602672235-bdpdkdslfgkgik0b89291g0rqh5s9rjc.apps.googleusercontent.com">
    <link href="/static/favicon.ico"
          rel="shortcut icon">
    <link href='//fonts.googleapis.com/css?family=Noto+Sans'
          rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="/static/base.css?version=01">
    <script
            src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script
            src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script> -->
    <!-- <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script> -->
    <title>{{ app }} · {{ page }}</title>
  </head>

  <body>
    {% include 'navbar.html' %}
    <!-- <div class="container"> -->
    {% block content %} {% endblock %}
    <!-- </div> -->
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="collapse"]').click(function (e) {
          e.preventDefault();
        });
      })
    </script>
  </body>

</html>
